.block {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.label {
    width: 100px;
    padding-right: 15px;
    color: blue;
    font-size: 18px;
    font-weight: 600;
}

.input {
    padding: 5px;
    color: blue;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(177, 230, 231);
}
