.wrapper {
  font-size: 18px;
  font-weight: 600;
  margin: 30px auto;
  max-width: 450px;
  align-items: center;
}
.list {
  padding: 0px;
  border: 2px solid blue;
  border-radius: 15px;
  color: blue;
}
